.containers {
    display: flex;
    flex-wrap: wrap;
    width: 300px; /* make the container narrow */
    border: 1px solid black;
}

.box {
    width: 100px;
    padding: 20px;
    border: 1px solid blue;
    box-sizing: border-box;
}