.Skills{
    font-family: 'Poppins', sans-serif;
    color: blue;
    border: 1px solid rgb(173, 48, 48);
    border-radius: 10px;
}
#Name{
    font-family: arial;
    border: 1px dotted black;
}
form{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    
}
.Button{
    background-color: rgb(173, 48, 48);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color:rgb(148, 27, 27)
   
}